body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

body h1 {
  font-family: 'Cinzel', serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
}

nav {
  min-height: 50px;
  max-height: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  -webkit-box-shadow: 0px 3px 5px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 3px 5px -4px rgba(0, 0, 0, 0.75);
  z-index: 999;
}

nav ul.navbar-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav ul.navbar-nav a.nav-link {
  display: block;
  padding: 15px 20px 5px 20px;
  text-decoration: none;
  color: black;
}

nav ul.navbar-nav a.nav-link:hover {
  border-bottom: #B68F39 solid 2px;
}

@media (max-width: 1024px) {
  nav ul.navbar-nav {
    width: 100%;
    height: calc(100vh - 90px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: rgba(0, 0, 50, 0.8);
    position: absolute;
    top: 50px;
    padding: 20px 0;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  nav ul.navbar-nav a.nav-link {
    display: block;
    padding: 15px 20px 5px 20px;
    text-decoration: none;
    color: #ffffff;
  }
  nav ul.navbar-nav a.nav-link:hover {
    border-bottom: none;
  }
  nav ul.navbar-nav.active {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  nav .toggler {
    padding: 15px;
    position: absolute;
    right: 10px;
    display: block;
  }
  nav .toggler span {
    display: block;
    width: 24px;
    height: 2px;
    background-color: black;
    margin: 4px;
  }
  nav .toggler span:nth-child(1) {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  nav .toggler span:nth-child(2) {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  nav .toggler span:nth-child(3) {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  nav .toggler.mobileOn span:nth-child(1) {
    -webkit-transform: translateY(300%) rotate(45deg);
            transform: translateY(300%) rotate(45deg);
  }
  nav .toggler.mobileOn span:nth-child(2) {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  nav .toggler.mobileOn span:nth-child(3) {
    -webkit-transform: translateY(-300%) rotate(-45deg);
            transform: translateY(-300%) rotate(-45deg);
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: navy;
  background-image: url(../images/header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header .header-mask {
  background-color: rgba(0, 0, 50, 0.8);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header-content {
  width: 550px;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-content h2 {
  margin: 15px 0 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 1.6em;
}

header .header-content h4 {
  margin: 10px 0 40px;
  padding: 0;
  font-weight: 400;
}

header .header-content img.brand-logo {
  margin: 52px 0 0 0;
  width: 662px;
}

header .header-content a.btn {
  display: block;
  width: 200px;
  padding: 10px;
  color: white;
  border: 2px solid #B68F39;
  text-decoration: none;
}

header .header-content img.kirp-logo {
  margin: 62px 0 10px 0;
  width: 150px;
}

@media (max-width: 1024px) {
  header .header-content {
    width: 550px;
    color: white;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-content h2 {
    margin: 15px 5px 0;
    padding: 0;
    font-size: 1em;
  }
  header .header-content h4 {
    margin: 10px 0 30px;
    padding: 0;
    font-weight: 400;
    font-size: 0.8em;
  }
  header .header-content img.brand-logo {
    width: 350px;
  }
  header .header-content a.btn {
    display: block;
    width: 150px;
    padding: 5px;
    color: white;
    border: 2px solid #B68F39;
    text-decoration: none;
  }
  header .header-content img.kirp-logo {
    width: 120px;
  }
}

main section {
  margin: 25px 0 0 0;
}

main section h1 {
  font-family: 'Cinzel', serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
}

main section.section-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section.section-about .img-about, main section.section-about .img-office {
  width: 500px;
  height: 500px;
  border: 3px solid #B68F39;
  border-bottom: none;
  border-left: none;
  padding: 20px 20px 0 0;
  margin: 30px;
}

main section.section-about .img-about img, main section.section-about .img-office img {
  width: 500px;
}

main section.section-about .img-office {
  border-right: none;
  border-left: 3px solid #B68F39;
  padding: 20px 0 0 20px;
}

main section.section-about .info {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  margin: 0 10px;
}

main section.section-about .info p {
  text-align: justify;
  font-size: 1.5em;
  font-weight: 300;
}

main section.section-offer {
  margin-bottom: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 25px 0 25px 0;
}

main section.section-offer h1.offer {
  width: 100%;
}

main section.section-offer .offer-less {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 0 40px;
}

main section.section-offer .offer-less .offer-less-item:nth-of-type(1) {
  width: 100%;
  height: 308px;
  background-image: url(../images/civillaw.jpg);
  margin: 0;
}

main section.section-offer .offer-less .offer-less-item:nth-of-type(1) h1 {
  font-size: 2.5em;
}

main section.section-offer .offer-less .offer-less-item {
  width: 48%;
  height: 200px;
  margin: 21px 0 0 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

main section.section-offer .offer-less .offer-less-item h1 {
  font-size: 1.3em;
}

main section.section-offer .offer-less .offer-less-item a {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
}

main section.section-offer .offer-less .offer-less-item a .mask {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: .5s;
  transition: .5s;
}

main section.section-offer .offer-less .offer-less-item a:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

main section.section-offer .offer-less .offer-less-item:nth-of-type(2) {
  background-image: url(../images/tax.jpg);
}

main section.section-offer .offer-less .offer-less-item:nth-of-type(3) {
  background-image: url(../images/family.jpg);
}

main section.section-offer .offer-less .offer-less-item:nth-of-type(4) {
  background-image: url(../images/work.jpg);
}

main section.section-offer .offer-less .offer-less-item:nth-of-type(5) {
  background-image: url(../images/administration.jpg);
}

main section.section-offer .offer-more {
  width: 40%;
  height: 750px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/business.jpg);
}

main section.section-offer .offer-more .offer-more-item {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/business.jpg);
}

main section.section-offer .offer-more .offer-more-item a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

main section.section-offer .offer-more .offer-more-item a .mask {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0;
}

main section.section-offer .offer-more .offer-more-item a .mask p {
  text-align: center;
  margin: 0 100px;
  opacity: 0;
  -webkit-transition: 1s 0.1s;
  transition: 1s 0.1s;
}

main section.section-offer .offer-more .offer-more-item a .mask h1 {
  font-size: 3em;
  margin: 0;
}

main section.section-offer .offer-more .offer-more-item a:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

main section.section-offer .offer-more .offer-more-item a:hover p {
  opacity: 1;
}

main section.contact {
  margin: 50px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #F7F7F7;
}

main section.contact .contact-form {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section.contact .contact-form p {
  text-align: center;
  font-size: 2em;
  margin: 0 auto 40px;
  font-weight: 200;
}

main section.contact .contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.contact .contact-form form input[type=text] {
  border: none;
  border-bottom: 2px solid #000E46;
  font-size: 1.5em;
  padding: 0 0 10px 10px;
  margin: 0 0 20px 0;
  width: 400px;
  background-color: #F7F7F7;
}

main section.contact .contact-form form input[placeholder] {
  opacity: 0.5;
}

main section.contact .contact-form form textarea {
  width: 400px;
  border: none;
  border-bottom: 2px solid #000E46;
  background-color: #F7F7F7;
}

main section.contact .contact-form form button[type=submit] {
  background-color: transparent;
  border: 2px solid #B68F39;
  font-size: 1.2em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  margin: 10px 0 0 0;
  padding: 5px;
  width: 210px;
  cursor: pointer;
}

main .contact-date {
  margin: 25px 0 0 0;
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .contact-date h3 {
  margin: 0 0;
  padding: 0;
  font-size: 1.4em;
  font-family: 'Cinzel', serif;
  font-weight: 600;
}

main .contact-date h3.hours {
  margin: 10px 0 0 0;
}

main .contact-date i {
  font-size: 1.4em;
  line-height: 1.2em;
}

main .contact-date p {
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 1.2em;
  font-weight: 100;
  text-align: center;
}

main .contact-date p a {
  color: black;
  text-decoration: none;
}

main .contact-date iframe {
  margin: 10px 0;
  width: 400px;
  height: 250px;
}

main .line {
  width: 3px;
  height: 730px;
  background-color: #B68F39;
  margin: 29px 0;
}

@media (max-width: 1024px) {
  main section h1 {
    font-size: 1.3em;
    margin: 10px;
  }
  main section.section-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.section-about h1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  main section.section-about .img-about, main section.section-about .img-office {
    width: 300px;
    height: 300px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  main section.section-about .img-about img, main section.section-about .img-office img {
    width: 300px;
  }
  main section.section-about .info p {
    font-size: 1.3em;
    margin: 0 30px;
  }
  main section.section-offer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 25px 0 0 0;
  }
  main section.section-offer h1.offer {
    width: 50%;
  }
  main section.section-offer .offer-less {
    width: 90%;
    margin: 0;
  }
  main section.section-offer .offer-less .offer-less-item:nth-of-type(1) {
    margin: 21px 0 0 0;
  }
  main section.section-offer .offer-less .offer-less-item:nth-of-type(1) h1 {
    font-size: 2em;
  }
  main section.section-offer .offer-less .offer-less-item {
    width: 100%;
    height: 308px;
    margin: 21px 0 0 0;
  }
  main section.section-offer .offer-less .offer-less-item h1 {
    font-size: 2em;
  }
  main section.section-offer .offer-less .offer-less-item a {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 1s;
    transition: 1s;
  }
  main section.section-offer .offer-less .offer-less-item a .mask {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-transition: .5s;
    transition: .5s;
  }
  main section.section-offer .offer-less .offer-less-item a:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  main section.section-offer .offer-less .offer-less-item:nth-of-type(2) {
    background-image: url(../images/tax.jpg);
  }
  main section.section-offer .offer-less .offer-less-item:nth-of-type(3) {
    background-image: url(../images/family.jpg);
  }
  main section.section-offer .offer-less .offer-less-item:nth-of-type(4) {
    background-image: url(../images/work.jpg);
  }
  main section.section-offer .offer-less .offer-less-item:nth-of-type(5) {
    background-color: #000E46;
  }
  main section.section-offer .offer-more {
    width: 90%;
    height: 308px;
    background-color: red;
  }
  main section.section-offer .offer-more .offer-more-item {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/business.jpg);
  }
  main section.section-offer .offer-more .offer-more-item a {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    color: white;
    -webkit-transition: 1s;
    transition: 1s;
  }
  main section.section-offer .offer-more .offer-more-item a .mask {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: 0;
  }
  main section.section-offer .offer-more .offer-more-item a .mask p {
    text-align: center;
    margin: 0 100px;
    opacity: 0;
    display: none;
    -webkit-transition: 1s 0.1s;
    transition: 1s 0.1s;
  }
  main section.section-offer .offer-more .offer-more-item a .mask h1 {
    font-size: 2em;
    margin: 0;
  }
  main section.contact {
    margin: 50px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #F7F7F7;
  }
  main section.contact .contact-form {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main section.contact .contact-form p {
    font-size: 1.5em;
    margin: 0 0 40px 0;
    font-weight: 200;
  }
  main section.contact .contact-form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.contact .contact-form form input[type=text] {
    border: none;
    border-bottom: 2px solid #000E46;
    font-size: 1.5em;
    padding: 0 0 10px 10px;
    margin: 0 0 20px 0;
    width: 300px;
    background-color: #F7F7F7;
  }
  main section.contact .contact-form form input[placeholder] {
    opacity: 0.5;
  }
  main section.contact .contact-form form textarea {
    width: 300px;
    border: none;
    border-bottom: 2px solid #000E46;
    background-color: #F7F7F7;
  }
  main section.contact .contact-form form button {
    background-color: red;
    border: 2px solid #B68F39;
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    margin: 20px 0 0 0;
    padding: 5px;
    width: 200px;
  }
  main .contact-date {
    margin: 0px 0 0 0;
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .contact-date h3 {
    margin: 0 0;
    padding: 0;
    font-size: 1.5em;
  }
  main .contact-date p {
    margin: 0 0 20px 0;
    padding: 0;
  }
  main .contact-date p a {
    display: inline-block;
    margin: 0 20px;
  }
  main .contact-date iframe {
    margin: 5px 0;
    width: 400px;
    height: 250px;
  }
  main .line {
    width: 90%;
    height: 3px;
    background-color: #B68F39;
    margin: 29px 0;
  }
}

footer {
  width: 100%;
  height: 274px;
  background-color: #000E46;
}
/*# sourceMappingURL=style.css.map */